{{!< default}}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{#post}}
      <article role="main" class="blog-post">
          {{content}}
      </article>

      <ul class="pager blog-pager">
        {{#prev_post}}
        <li class="previous">
          <a href="{{url}}" data-toggle="tooltip" data-placement="top" title="{{title}}">&larr; Previous Post</a>
        </li>
        {{/prev_post}}
        {{#next_post}}
        <li class="next">
          <a href="{{url}}" data-toggle="tooltip" data-placement="top" title="{{title}}">Next Post &rarr;</a>
        </li>
        {{/next_post}}
      </ul>
      {{/post}}

      <div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'ghostazured13fazurewebsitesnet'; // required: replace example with your forum shortname
    var disqus_identifier = '{{post.id}}';
 
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> 

    </div>
  </div>
</div>
